.contact{
    background-color: #221e3f !important;
    height: 100vh;
}
.cardStyle{
    margin-top: 20%;
    background-color: #1d1930;
    padding: 5% 20%;
    filter: drop-shadow(1px 1px 5px rgb(138, 140, 141));
    opacity: 0.7;
}
.contHead{
    color: seashell;
    padding-bottom: 4%;
    font-size: 2rem;
}
.my-email{
    padding-bottom: 4%;
}
.contact {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 2%;
    color: #eee;
}
