.portfolio {
    color:  black !important;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    background-color: #e7e7e1;
    padding-top: 100px;
}

.thumbnailWrapper {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
.portHead{
    font-size: 5rem;
}

